<div class="container">
  <div class="row mt-3">
    <div class="col">
      <a routerLink="/" class="logo-desktop d-block">
        <img src="https://static.highsolutions.pl/images/navbar-hs-logo.png" alt="HighSolutions logo" />
      </a>
    </div>
    <div class="col text-right">
      <button *ngIf="!authenticated; else logoutBtn" mat-stroked-button color="primary" routerLink="login">
        Login
      </button>
      <ng-template #logoutBtn>
        <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
      </ng-template>
    </div>
  </div>
</div>
